/**
 * Get brand color function
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #8BC53E;
  --bs-secondary: #FF3600;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #8BC53E;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: #6f9e32;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #8BC53E;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.link-primary {
  color: #8BC53E;
}
.link-primary:hover, .link-primary:focus {
  color: #6f9e32;
}

.link-secondary {
  color: #FF3600;
}
.link-secondary:hover, .link-secondary:focus {
  color: #cc2b00;
}

.link-success {
  color: #198754;
}
.link-success:hover, .link-success:focus {
  color: #146c43;
}

.link-info {
  color: #0dcaf0;
}
.link-info:hover, .link-info:focus {
  color: #3dd5f3;
}

.link-warning {
  color: #ffc107;
}
.link-warning:hover, .link-warning:focus {
  color: #ffcd39;
}

.link-danger {
  color: #dc3545;
}
.link-danger:hover, .link-danger:focus {
  color: #b02a37;
}

.link-light {
  color: #f8f9fa;
}
.link-light:hover, .link-light:focus {
  color: #f9fafb;
}

.link-dark {
  color: #212529;
}
.link-dark:hover, .link-dark:focus {
  color: #1a1e21;
}

.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.ratio-4x3 {
  --bs-aspect-ratio: calc(3 / 4 * 100%);
}

.ratio-16x9 {
  --bs-aspect-ratio: calc(9 / 16 * 100%);
}

.ratio-21x9 {
  --bs-aspect-ratio: calc(9 / 21 * 100%);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

@media (min-width: 576px) {
  .sticky-sm-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 768px) {
  .sticky-md-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1200px) {
  .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1400px) {
  .sticky-xxl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not([focus-within]) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  --edge-margin: 25px;
}

.tm-block-action-tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tm-block-action-tabs__item + .tm-block-action-tabs__item {
  margin-top: 0.625rem;
}
.tm-block-action-tabs__item > a {
  display: block;
  position: relative;
  background-color: #8BC53E;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  padding-right: 3.25rem;
  padding-left: 2.75rem;
  transition: all 0.2s ease-in-out;
}
.tm-block-action-tabs__item > a:hover, .tm-block-action-tabs__item > a:active {
  background-color: #7eb436;
  transition-duration: 0s;
  color: #fff;
}
.tm-block-action-tabs .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}
.tm-block-action-tabs .text {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tm-block-action-tabs .icon-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25rem;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.lzb-preview-server .tm-block-action-tabs a {
  text-decoration: none;
}

.block-benefit-bar {
  background-color: #fff;
  padding: 0.5rem 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.125);
}
.block-benefit-bar .item {
  flex: 0 1 220px;
  display: flex;
  align-items: center;
  margin: 15px 4%;
}
.block-benefit-bar .symbol {
  margin-right: 1rem;
}
.block-benefit-bar .symbol img {
  display: block;
  height: 56px;
  margin: auto;
}
.block-benefit-bar--green {
  background-color: #8BC53E;
  color: #fff;
}
.block-benefit-bar--white {
  background-color: #fff;
  color: #212529;
}

.tm-block-post-grid .post-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -25px;
  margin-left: -25px;
  margin-bottom: 0;
  padding: 0;
}
.tm-block-post-grid .post-grid__item {
  padding-top: 25px;
  padding-left: 25px;
  flex: 1 1 50%;
  max-width: 50%;
}
@media (min-width: 992px) {
  .tm-block-post-grid .post-grid__item {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.tm-block-post-grid .post-image {
  display: block;
  position: relative;
}
.tm-block-post-grid .post-image a:hover img,
.tm-block-post-grid .post-image a:active img {
  filter: brightness(1.05);
}
.tm-block-post-grid .post-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.tm-block-post-grid .post-date {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #8BC53E;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 0.75rem 0;
  width: 4rem;
}
.tm-block-post-grid .post-date .date,
.tm-block-post-grid .post-date .month {
  display: block;
}
.tm-block-post-grid .post-date .date {
  font-size: 1.5em;
}
.tm-block-post-grid .post-date .month {
  font-weight: 300;
}

.tm-block-product-carousel .product-carousel {
  position: relative;
}
.tm-block-product-carousel .carousel-navigation {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  transform: translateY(-100%) translateY(-15px);
}
.tm-block-product-carousel .carousel-navigation-prev, .tm-block-product-carousel .carousel-navigation-next {
  background-color: #e9ecef;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
}
.tm-block-product-carousel .carousel-navigation-prev:hover, .tm-block-product-carousel .carousel-navigation-next:hover, .tm-block-product-carousel .carousel-navigation-prev:active, .tm-block-product-carousel .carousel-navigation-next:active {
  background-color: #8BC53E;
  color: #fff;
}
.tm-block-product-carousel .carousel-navigation-prev.swiper-button-disabled, .tm-block-product-carousel .swiper-button-disabled.carousel-navigation-next {
  opacity: 0.3;
  pointer-events: none;
}
.tm-block-product-carousel .carousel-navigation-next {
  margin-left: 0.5rem;
}
.tm-block-product-carousel .swiper-slide {
  width: 220px;
}
@media (min-width: 1090px) {
  .tm-block-product-carousel .product-carousel {
    margin-left: 0;
    margin-right: 0;
  }
  .tm-block-product-carousel .swiper-slide {
    width: inherit;
  }
}
.tm-block-product-carousel .product-item__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.tm-block-product-carousel .product-thumb img {
  display: block;
  transition: all 0.2s ease-in-out;
}
.tm-block-product-carousel .product-thumb a:hover img,
.tm-block-product-carousel .product-thumb a:active img {
  filter: brightness(1.1);
}
.tm-block-product-carousel .product-title {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.tm-block-product-carousel .edit-link {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
  font-weight: 300;
}

.tm-edit-link {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2em 0.8em;
  border-radius: 0.25rem;
}
.tm-edit-link:hover, .tm-edit-link:active {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.products-carousel .product-tabs {
  position: relative;
  margin-bottom: 1.25rem;
}
.products-carousel .product-tabs .nav-link {
  display: inline-block;
  background: none;
  color: #adb5bd;
  border: 0;
  border-bottom: 3px solid #adb5bd;
  padding: 0.5rem 0;
  margin-right: 0.75rem;
  min-width: 160px;
  text-align: left;
  border-radius: 0 !important;
}
.products-carousel .product-tabs .nav-link.active {
  color: #8BC53E;
  border-bottom-color: #8BC53E;
}
.products-carousel .products-content-wrapper {
  position: relative;
}
@media (max-width: 1089px) {
  .products-carousel .products-content {
    margin-left: calc( 25px * -1 );
    margin-left: calc( var(--edge-margin) * -1 );
    margin-right: calc( 25px * -1 );
    margin-right: calc( var(--edge-margin) * -1 );
  }
}
.products-carousel .products-navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.products-carousel .products-navigation-button {
  background-color: #dee2e6;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.products-carousel .products-navigation-button:hover, .products-carousel .products-navigation-button:active {
  background-color: #8BC53E;
  color: #fff;
}
.products-carousel .products-navigation-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(139, 197, 62, 0.5);
}
.products-carousel .products-navigation-button--next {
  margin-left: 10px;
}
@media (max-width: 1089px) {
  .products-carousel .swiper-slide {
    max-width: 220px;
    min-width: 220px;
  }
}
.products-carousel .product-item__title {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}
.products-carousel .product-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-carousel .call-to-action .add_to_cart_button {
  margin: 0;
}

.lzb-preview-server .products-carousel .product-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 1.25rem;
}
.lzb-preview-server .product-item__image {
  margin: 0;
}

.woocommerce .order_details {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}

.product-footer .product-tabs a {
  font-size: 1rem;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item {
  width: auto;
  border-radius: 0.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  box-shadow: 0 0 0 1px rgba(139, 197, 62, 0.9);
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item.selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item.selected:hover {
  box-shadow: 0 0 0 1px rgba(139, 197, 62, 0.9);
  background-color: #8BC53E;
  color: #fff;
}

.blocks-area > * {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 50px);
}
.blocks-area > *:not(.alignwide):not(.alignfull) {
  max-width: 1090px;
}
.blocks-area > *.alignwide {
  max-width: 1200px;
}
.blocks-area > *.alignfull {
  width: 100%;
  max-width: 100%;
}
.blocks-area > *.alignleft > * {
  float: left;
}
.blocks-area > *.aligncenter {
  text-align: center;
}
.blocks-area > *.aligncenter > * {
  margin-left: auto;
  margin-right: auto;
}
.blocks-area > *.alignright > * {
  float: right;
}

.header-nav .menu-item {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-widgets .widget-title {
  display: block;
  margin-bottom: 1rem;
  color: #8BC53E;
}
.footer-widgets .is-divider {
  display: none;
}

.wp-block-latest-posts__featured-image {
  margin-bottom: 20px;
}

.products-carousel .product-tabs {
  position: relative;
  margin-bottom: 1.25rem;
}
.products-carousel .product-tabs .nav-link {
  display: inline-block;
  background: none;
  color: #adb5bd;
  border: 0;
  border-bottom: 3px solid #adb5bd;
  padding: 0.5rem 0;
  margin-right: 0.75rem;
  min-width: 160px;
  text-align: left;
  border-radius: 0 !important;
}
.products-carousel .product-tabs .nav-link.active {
  color: #8BC53E;
  border-bottom-color: #8BC53E;
}
.products-carousel .products-content-wrapper {
  position: relative;
}
@media (max-width: 1089px) {
  .products-carousel .products-content {
    margin-left: calc( 25px * -1 );
    margin-left: calc( var(--edge-margin) * -1 );
    margin-right: calc( 25px * -1 );
    margin-right: calc( var(--edge-margin) * -1 );
  }
}
.products-carousel .products-navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.products-carousel .products-navigation-button {
  background-color: #dee2e6;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.products-carousel .products-navigation-button:hover, .products-carousel .products-navigation-button:active {
  background-color: #8BC53E;
  color: #fff;
}
.products-carousel .products-navigation-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(139, 197, 62, 0.5);
}
.products-carousel .products-navigation-button--next {
  margin-left: 10px;
}
@media (max-width: 1089px) {
  .products-carousel .swiper-slide {
    max-width: 220px;
    min-width: 220px;
  }
}
.products-carousel .product-item__title {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}
.products-carousel .product-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-carousel .call-to-action .add_to_cart_button {
  margin: 0;
}

.term-description {
  margin-bottom: 20px;
}

.noptin-form-footer,
.noptin-form-header {
  z-index: 10;
}

body:not(.logged-in) .wishlist-icon,
body:not(.logged-in) .yith-wcwl-add-to-wishlist {
  display: none;
}

.price-wrapper .price ins span.amount {
  color: #FF3600;
}
/*# sourceMappingURL=treemobile.css.map */