@mixin object-fit( $size:cover, $position ) {
  object-fit: $size;
  object-position: $position;
  width: 100%;
  height: 100%;
}

@mixin align-none() {
  &:not(.alignwide):not(.alignfull) {
    @content;
  }
}

@mixin align-wide() {
  &.alignwide {
    @content;
  }
}

@mixin align-full() {
  &.alignfull {
    @content;
  }
}

@mixin align-left() {
  &.alignleft {
    @content;
  }
}

@mixin align-right() {
  &.alignright {
    @content;
  }
}

@mixin align-center() {
  &.aligncenter {
    @content;
  }
}

@mixin make-gutenberg-block {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 50px);

  @include align-none() {
    max-width: 1090px
  }

  @include align-wide() {
    max-width: 1200px;
  }

  @include align-full() {
    width: 100%;
    max-width: 100%;
  }

  @include align-left() {
    > * {
      float: left;
    }
  }

  @include align-center() {
    text-align: center;

    > * {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include align-right() {
    > * {
      float: right;
    }
  }
}

@mixin make-gutenberg-area() {
  > * {
    @include make-gutenberg-block();
  }
}