$primary: #8BC53E;
$secondary: #FF3600;

$font-family-base: "Kanit", sans-serif;
$min-contrast-ratio: 2;
$link-decoration: none;
// $grid-gutter-width: 50px;

/**
 * Get brand color function
 */
$brand-colors: (
  'behance': #1769ff,
  'facebook': #1877f2,
  'googleplus': #dd4b39,
  'instagram': #e1306c,
  'line': #00c300,
  'linkedin': #0077b5,
  'pinterest': #bd081c,
  'skype': #00aff0,
  'slack': #3eb991,
  'tripadvisor': #00af87,
  'twitter': #1da1f2,
  'tumblr': #35465c,
  'wechat': #7bb32e,
  'whatsapp': #075e54,
  'youtube': #ff0000,
);