.woocommerce {
  .order_details {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
  }
}

.product-footer {
  .product-tabs a {
    font-size: 1rem;
  }
}

//
// Variable Swatchs
// 
.woo-variation-swatches {
  .variable-items-wrapper {
    .variable-item:not(.radio-variable-item) {
      &.button-variable-item {
        width: auto;
        border-radius: .25em;
        padding-inline: .75em;
        box-shadow: 0 0 0 1px transparentize($primary, 0.1);

        &.selected,
        &.selected:hover {
          box-shadow: 0 0 0 1px transparentize($primary, 0.1);
          background-color: $primary;
          color: #fff;
        }
      }
    }
  }
}
