@import 'variables';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/helpers';

@import 'functions';
@import 'mixins';
@import 'roots';
@import 'blocks';
@import 'woocommerce';

.searchform {
  .search-form-categories {
    
  }
}

.blocks-area {
  @include make-gutenberg-area();
}

.header-nav {
  .menu-item {
    margin-inline: 20px;
  }
}

.footer-widgets {
  .widget-title {
    display: block;
    margin-bottom: 1rem;
    color: $primary;
  }

  .is-divider {
    display: none;
  }
}

.wp-block-latest-posts {
  &__featured-image {
    margin-bottom: 20px;
  }
}

//
// Product carousel in front page
// 
.products-carousel {
  .product-tabs {
    position: relative;
    margin-bottom: 1.25rem;

    .nav-link {
      display: inline-block;
      background: none;
      color: $gray-500;
      border: 0;
      border-bottom: 3px solid $gray-500;
      padding: .5rem 0;
      margin-right: 0.75rem;
      min-width: 160px;
      text-align: left;
      border-radius: 0 !important;

      &.active {
        color: $primary;
        border-bottom-color: $primary;
      }
    }
  }

  .products-content-wrapper {
    position: relative;
  }

  .products-content {
    @media (max-width: 1089px) {
      margin-left: calc( var(--edge-margin) * -1 );
      margin-right: calc( var(--edge-margin) * -1 );
    }
  }

  .products-navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

  .products-navigation-button {
    background-color: $gray-300;
    color: $body-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $primary;
      color: color-contrast($primary);
    }

    &:focus {
      box-shadow: 0 0 0 .2rem rgba($primary, .5);
    }

    &--next {
      margin-left: 10px;
    }
  }

  .swiper-slide {
    @media (max-width: 1089px) {
      max-width: 220px;
      min-width: 220px;
    }
  }

  .product-item {
    &__title {
      font-size: 1rem;
      font-weight: normal;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.75rem;
      margin-bottom: 0.75rem;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .call-to-action {
    .add_to_cart_button {
      margin: 0;
    }
  }
}

.term-description {
  margin-bottom: 20px;
}

//
// Noptin
// 
.noptin-form-footer,
.noptin-form-header {
  z-index: 10;
}

body:not(.logged-in) {
  .wishlist-icon,
  .yith-wcwl-add-to-wishlist {
    display: none;
  }
}

.price-wrapper {
  .price ins span.amount {
    color: #FF3600;
  }
}