@import 'variables';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/helpers';

@import 'blocks';

[data-align=full] {
  .wp-block-group > .wp-block-group__inner-container {
    > [data-type="core/shortcode"] {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}