/*
Theme Name: Treemobile
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 1.0
Text Domain: treemobile
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

.grecaptcha-badge {
  visibility: hidden;
}

.header-inner {
  padding-left: 25px;
  padding-right: 25px;
}

.header-nav-main {
  justify-content: center;
}

.header-search-form {
  max-width: 400px;
}

.footer ul.fa-ul {
  margin-left: 2em
}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/

}