.tm-block-action-tabs {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    + .tm-block-action-tabs__item {
      margin-top: 0.625rem;
    }

    > a {
      display: block;
      position: relative;
      background-color: $primary;
      color: #fff;
      padding: 0.75rem 1rem;
      border-radius: .5rem;
      padding-right: 3.25rem;
      padding-left: 2.75rem;
      transition: $transition-base;

      &:hover,
      &:active {
        background-color: darken($primary, 5);
        transition-duration: 0s;
        color: #fff;
      }
    }
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
  }

  .text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .icon-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.25rem;
    height: 100%;
    border-radius: 0 .5rem .5rem 0;
    background-color: rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}

.lzb-preview-server {
  .tm-block-action-tabs {
    a {
      text-decoration: none;
    }
  }
}