.block-benefit-bar {
  background-color: $white;
  padding: 0.5rem 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 1px 10px rgba(#000, .125);

  .item {
    flex: 0 1 220px;
    display: flex;
    align-items: center;
    margin: 15px 4%;
  }

  .symbol {
    margin-right: 1rem;

    img {
      display: block;
      height: 56px;
      margin: auto;
    }
  }

  &--green {
    background-color: $primary;
    color: color-contrast($primary);
  }

  &--white {
    background-color: $white;
    color: $body-color;
  }
}
