@use "sass:math";

.tm-block-post-grid {
  .post-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: -25px;
    margin-left: -25px;
    margin-bottom: 0;
    padding: 0;

    &__item {
      padding-top: 25px;
      padding-left: 25px;
      flex: 1 1 percentage(math.div(1, 2));
      max-width: percentage(math.div(1, 2));

      @include media-breakpoint-up(lg) {
        flex: 1 1 percentage(math.div(1, 4));
        max-width: percentage(math.div(1, 4));
      }
    }
  }

  .post-image {
    display: block;
    position: relative;

    a:hover,
    a:active {
      img {
        filter: brightness(1.05);
      }
    }
  }

  .post-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .post-date {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $primary;
    color: #fff;
    text-align: center;
    line-height: 1;
    padding: 0.75rem 0;
    width: 4rem;

    .date,
    .month {
      display: block;
    }

    .date {
      font-size: 1.5em;
    }

    .month {
      font-weight: 300;
    }
  }
}