.tm-block-product-carousel {
  .product-carousel {
    position: relative;
  }

  .carousel-navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    transform: translateY(-100%) translateY(-15px);
  }

  .carousel-navigation-prev {
    background-color: $gray-200;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;

    &:hover,
    &:active {
      background-color: $primary;
      color: color-contrast($primary);
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .carousel-navigation-next {
    @extend .carousel-navigation-prev;
    margin-left: 0.5rem;
  }

  .swiper-slide {
    width: 220px;
  }

  @media (min-width: 1090px) {
    .product-carousel {
      margin-left: 0;
      margin-right: 0;
    }

    .swiper-slide {
      width: inherit;
    }
  }

  .product-item {
    &__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .product-thumb {
    img {
      display: block;
      // box-shadow: $box-shadow-sm;
      transition: $transition-base;
    }

    a:hover,
    a:active {
      img {
        filter: brightness(1.1);
      }
    }
  }

  .product-title {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  .edit-link {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    font-weight: 300;
  }
}

.tm-edit-link {
  background-color: rgba(#000, .5);
  color: #fff;
  font-size: 0.8rem;
  padding: .2em .8em;
  border-radius: .25rem;

  &:hover,
  &:active {
    background-color: rgba(#000, .8);
    color: #fff;
  }
}

.products-carousel {
  .product-tabs {
    position: relative;
    margin-bottom: 1.25rem;

    .nav-link {
      display: inline-block;
      background: none;
      color: $gray-500;
      border: 0;
      border-bottom: 3px solid $gray-500;
      padding: .5rem 0;
      margin-right: 0.75rem;
      min-width: 160px;
      text-align: left;
      border-radius: 0 !important;

      &.active {
        color: $primary;
        border-bottom-color: $primary;
      }
    }
  }

  .products-content-wrapper {
    position: relative;
  }

  .products-content {
    @media (max-width: 1089px) {
      margin-left: calc( var(--edge-margin) * -1 );
      margin-right: calc( var(--edge-margin) * -1 );
    }
  }

  .products-navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

  .products-navigation-button {
    background-color: $gray-300;
    color: $body-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $primary;
      color: color-contrast($primary);
    }

    &:focus {
      box-shadow: 0 0 0 .2rem rgba($primary, .5);
    }

    &--next {
      margin-left: 10px;
    }
  }

  .swiper-slide {
    @media (max-width: 1089px) {
      max-width: 220px;
      min-width: 220px;
    }
  }

  .product-item {
    &__title {
      font-size: 1rem;
      font-weight: normal;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.75rem;
      margin-bottom: 0.75rem;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .call-to-action {
    .add_to_cart_button {
      margin: 0;
    }
  }
}

.lzb-preview-server {
  .products-carousel {
    .product-tabs {
      list-style: none;
      padding: 0;
      margin: 0 0 1.25rem;
    }
  }

  .product-item {
    &__image {
      margin: 0;
    }
  }
}